<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ServerBookStore - Book</title>

    <style>
        select,
        input {
            display: block;
            clear: both;
            margin: 10px;
            ;
        }
    </style>
</head>

<body>
    <form action="" method="post" enctype="multipart/form-data" type>
        <select name="selectCate">
            <% Cates.forEach(function(cate){  %> <option value="<%- cate._id %>"> <%- cate.name _%> </option> <% }); %>
        </select>
        <input type="text" name="txtName" placeholder="Name">
        <input type="file" name="BookImage">
        <input type="text" name="txtFile" placeholder="File">
        <input type="submit" name="btnAdd" value="Add Book">
    </form>
</body>

</html>