/* You can add global styles to this file, and also import other style files */
.nth-sidebar-float-right {
  float: right;
}

menu {
  padding-inline-start: 0px;
}

.godown-15 {
  margin-top: 15px;
}
